.main{
width: 100%;
height: 100vh;
}
.location{
    display: flex;
    gap: 10px;
    justify-content: center;
}
header .heading{

color: #E4002B;
font-size: 40px;
font-weight: 900;
font-family:Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
}
header nav{
    height: 100px;
display: flex;
justify-content: space-around;
font-size: 20px;

}
li{
    cursor: pointer;

}
nav div{
 
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.header1{
    background-color: #202124;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}
.header1 button {
    cursor: pointer;
    background-color: #E4002B;
    color: white;
    padding: 1px;
    width: 200px;
    border-radius: 50px;
    border: none;
}

    .header1 h3 {
    color:white;
    
    text-align: center;
    }

    .slider {
      margin: 0;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .slide {
        display: inline-block;
        width: 100%;
        animation: slide 10s linear infinite;
      }
      
      @keyframes slide {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      
.product{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(2,100px);
    gap: 100px;
    margin-left: 300px;
}
.product div{
    display: flex;
    justify-content: center;
}
.product img{
    display: block;
  
}
.foot{
  background-color: #202124;
  height: auto;
}

.img{
  display: inline-flex;
  gap: 20px;
  margin-left: 200px;
  
}
.bottom{
  display: flex;
}
.bottom div{
  margin-left: 20px;
color: white;
}
.footp{
 
  margin-left: 500px;
  font-size: 11px;
  color: rgb(214, 204, 204);
  padding: 12px;
}




@media only screen and (max-width: 600px)  {

      header{
      width: 1000px;

    }
    header .heading{
    
    color: #E4002B;
    font-size: 20px;
  
    }
    header nav{
        height: 50px;
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        
      }
  
    .header1 button {
      margin-right: 170px;
        width: 150px;
        border-radius: 40px;
        border: none;
    }
   
          @keyframes slide {
            0% {
              transform: translateX(0%);
            }
            100% {
              transform: translateX(-100%);
            }
          }
          
    .product{
        display: grid;
        grid-template-columns: repeat(2,100px);
        grid-template-rows: repeat(4,100px);
        gap: 100px;
        margin-left: 300px;
    }
    .product div{
        display: flex;
        justify-content: center;
    }
    
    .foot{
      background-color: #202124;
      height: auto;
      width: 200vh;
    }
    
    .img{
      display: inline-flex;
      gap: 20px;
      margin-left: 50px;
      
    }
    .bottom div{
      display: grid;
      grid-template-columns: repeat(1,90px);
      grid-template-rows: repeat(5,50px);
      margin-left: 5px;  
    color: white;
    }
    .bottom div img{
      display: block;
      width: 100px;
    }
  .bottom div span
  {
    font-size: 10px;
    gap: 0;
  }
  .footp{
    text-align: center;font-size: 11px;color: rgb(214, 204, 204);
  }
}




/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
 
  header{
    width: 1000px;
  }
  header .heading{
  
  color: #E4002B;
  font-size: 40px;
  }
  header nav{
      height: 50px;
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      
    }

  .header1 button {
    margin-right: 170px;
      width: 150px;
      border-radius: 40px;
      border: none;
  }
 
        @keyframes slide {
          0% {
            transform: translateX(0%);
          }
          100% {
            transform: translateX(-100%);
          }
        }
        
  .product{
      display: grid;
      grid-template-columns: repeat(3,100px);
      grid-template-rows: repeat(3,100px);
      gap: 100px;
      margin-left: 250px;
  }
  .product div{
      display: flex;
      justify-content: center;
  }
  
  .foot{
    background-color: #202124;
    height: auto;
    width: 200vh;
  }
  
  .img{
    display: inline-flex;
    gap: 20px;
    margin-left: 50px;
    
  }
  .bottom div{
    display: grid;
    grid-template-columns: repeat(5);
    grid-template-rows: repeat(5);
    margin-left: 0px;  
  
  }
  .bottom div img{
    display: block;
    width: 100px;
  }
.bottom div span
{
  font-size: 9px;
  gap: 0;
}
.footp{

  margin-right: 500px;
  font-size: 14px;  
}

}
